netflixprojpipeline/pipeline/netflixprojpipeline.json
{
    "name": "netflixprojpipeline",
    "properties": {
        "activities": [
            {
                "name": "ForAllTheFiles",
                "type": "ForEach",
                "state": "Active",
                "onInactiveMarkAs": "Succeeded",
                "dependsOn": [
                    {
                        "activity": "ValidationGithub",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@pipeline().parameters.p_array",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "activities": [
                        {
                            "name": "copy github data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "HttpReadSettings",
                                        "requestMethod": "GET"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_github_proj",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "file_name": {
                                            "value": "@item().file_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_datasink_proj",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "folder_name": {
                                            "value": "@item().folder_name",
                                            "type": "Expression"
                                        },
                                        "file_name": {
                                            "value": "@item().file_name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "ValidationGithub",
                "type": "Validation",
                "dependsOn": [
                    {
                        "activity": "Set variable1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_validation",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.12:00:00",
                    "sleep": 10
                }
            },
            {
                "name": "GithubMetaData",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": "https://raw.githubusercontent.com/varshithgitub/Netflix-end-to-end-project-data-eng---AZURE/refs/heads/main/raw%20files/netflix_cast.csv"
                }
            },
            {
                "name": "Set variable1",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "GithubMetaData",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "githubMetaData",
                    "value": {
                        "value": "@activity('GithubMetaData').output.Response",
                        "type": "Expression"
                    }
                }
            }
        ],
        "parameters": {
            "p_array": {
                "type": "array",
                "defaultValue": [
                    {
                        "folder_name": "netflix_cast",
                        "file_name": "netflix_cast.csv"
                    },
                    {
                        "folder_name": "netflix_category",
                        "file_name": "netflix_category.csv"
                    },
                    {
                        "folder_name": "netflix_countries",
                        "file_name": "netflix_countries.csv"
                    },
                    {
                        "folder_name": "netflix_directors",
                        "file_name": "netflix_directors.csv"
                    }
                ]
            }
        },
        "variables": {
            "githubMetaData": {
                "type": "String"
            }
        },
        "annotations": [],
        "lastPublishTime": "2025-05-14T20:51:00Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}